.checkoutProduct {
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
}

.checkoutProductInfo {
	padding-left: 20px;
	button {
		cursor: pointer;
		background: #f0c14b;
		border: 1px solid;
		margin-top: 10px;
		border-color: #a88734 #9c7e31 #846a29;
		color: #111;
	}
}

.discountPrice {
	small {
		padding-left: 8px;
	}
}

.imgWrap {
	position: relative;
}

.checkoutProductImage {
	object-fit: contain;
	width: 180px;
	height: 180px;
}

.imgWrap::before {
	content: attr(data-count);
	z-index: 10;
	position: absolute;
	top: -0.75em;
	right: -0.75em;
	width: auto;
	height: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
	color: white;
}

.checkoutProductTitle {
	font-size: 17px;
	font-weight: 800;
}
